---
import HeroSection from "./Hero.astro";
import ThreeScene from "./ThreeScene.astro";
---

<section class="relative w-full max-h-svh h-svh overflow-hidden bg-black">
    <ThreeScene />
    <!-- <HeroSection /> -->
</section>
´
