---
import HeroSection from "./Hero.astro";
import ThreeScene from "./ThreeScene.astro";
---

<section class="relative w-full h-screen overflow-hidden bg-black">
    <ThreeScene />
    <HeroSection />
</section>
