---
import FullHero from "../components/HeroSection/FullHero.astro";
import Layout from "../layouts/Layout.astro";
import AboutSection from "../components/AboutSection.astro";
import SkillsSection from "../components/SkillsSection.astro";
import CareerSection from "../components/CareerSection.astro";
import ContactSection from "../components/ContactSection.astro";
import "../styles/globals.css";
---

<Layout>
    <main class="w-full bg-black">
        <section class="relative w-full h-screen overflow-hidden">
            <FullHero />
        </section>
        
        <AboutSection />
        <SkillsSection />
        <CareerSection />
        <ContactSection />
    </main>
</Layout>
